#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#abilities-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.ability {
  background-color: aquamarine;
  border-radius: 25px;
  margin: 1%;
  font-size: 48px;
}

#player-area-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
}


